.mainSection{
    width: 100vw;
    display: flex;
    background: #000;
}
.mainSection .bgHandler{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 500;
    background: rgba(21, 21, 21, 0.704);
}
.mainSection .loggedOut {
    height: 20em;
    width: 20em;
    background: #000;
    /* border: 2px solid white; */
    position: absolute;
    top: 25%;
    left: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
    z-index: 600;
}
.mainSection .loggedOut div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.mainSection .loggedOut div p b{
    font-size: 1.4em;
}
.mainSection .loggedOut .lgD{
    align-items: center;
}
.mainSection .loggedOut .lgD p{
    padding: 10px 30px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
}
.mainSection .loggedOut .lgD p:hover{
    cursor: pointer;
    background: rgba(75, 75, 75, 0.768);
    color: white;
}
.mainSection .sideNav {
    width: 30%;
    height: 100vh;
    /* border: 2px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    background: #000;
}
.mainSection .sideNav .allFunc{
    padding-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.mainSection .sideNav .allFunc .appLogo{
    width: 80%;
    /* height: 1.5em; */
    border-radius: 30px;
    cursor:e-resize;
    transition: 0.5s;
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.mainSection .sideNav .allFunc .logo:hover p{
    font-weight: lighter;
}
.mainSection .sideNav .allFunc .logo:hover{
    background: rgba(66, 66, 66, 0.453);
}
.mainSection .sideNav .allFunc .logo{
    width: 90%;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    /* justify-content: space-a; */
    align-items: center;
    gap: 25px;
    /* height: 2.5em; */
     /* padding: 2px;  */
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.7em;
}
.mainSection .sideNav .allFunc .pst{
    width: 90%;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    /* justify-content: space-a; */
    align-items: center;
    gap: 25px;
    /* height: 2.5em; */
     /* padding: 2px;  */
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.7em;
}
.mainSection .sideNav .allFunc .pst .addPost {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(51, 180, 255);
    font-weight: bold;
    font-size: 0.8em;
    transition: 0.5s;
}
.mainSection .sideNav .allFunc .addPost:hover{
    background: rgb(1, 80, 155);
}
.mainSection .sideNav .acController{
    width: 90%;
    color: white;
    padding-bottom: 20px;
}
.mainSection .sideNav .acController{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* gap: -100px; */
    /* gap: 10px; */
    /* height: 2.5em; */
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    /* transition: 0.5s; */
    /* border: 0.2px solid rgb(192, 192, 192); */
    border-style: groove;
    margin-bottom: 10px;
    border: none;
    transition: 0.5s;
}
.mainSection .sideNav .acController:hover{
    background: rgba(51, 51, 51, 0.304);
    /* box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42);
-webkit-box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42);
-moz-box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42); */
}
.mainSection .sideNav .acController .userImg {
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(65, 64, 64, 0.512); */
    border-radius: 30px;
    /* overflow: hidden; */
}
.mainSection .sideNav .acController .userImg img{
    height: 80%;
    width: 100%;
    border-radius: 30px;
}

.mainSection .sideNav .acController div p {
    font-weight: lighter;
}
.mainSection .sideNav .acController div p i{
    color: gray;
}
.mainSection .sideNav .acController  .acHanderPoPuP{
    position: absolute;
    bottom: 100px;
    left: 120px;
    height: 7em;
    width: 70%;
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 15px;
    gap: 20px;
    box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42);
-webkit-box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42);
-moz-box-shadow: 0px 0px 49px -11px rgba(216,210,210,0.42);
    border-radius: 20px;
    /* border: 2px solid white; */
}
.mainSection .sideNav .acController  .acHanderPoPuP div p{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}
.mainSection .sideNav .acController  .acHanderPoPuP div p:hover{
    color: gray;
}
.mainSection .profileContainer{
    width: 46%;
    min-height: 100vh;
    background: #000;
    color: white;
    margin-left: 461px;
    border: 0.1px solid rgba(92, 92, 92, 0.763);
}
.mainSection .profileContainer .profileDashBoard{
    width: 100%;
    height: 15em;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.mainSection .profileContainer .profileDashBoard .topD{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mainSection .profileContainer .profileDashBoard .topD .div{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainSection .profileContainer .profileDashBoard .topD .div a{
    text-decoration: none;
    color: white;
}
.mainSection .profileContainer .profileDashBoard .topD .div a p{
    font-size: 1.4em;
    transition: 0.5s;
    cursor: pointer;
}
.mainSection .profileContainer .profileDashBoard .topD .div a p:hover{
    color: gray;
}
.mainSection .profileContainer .profileDashBoard .bgPhoto {
    width: 100%;
    height: 85%;
    background: gray;
}
.mainSection .profileContainer .profileDashBoard .userIng {
    width: 25%;
    height: 60%;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -80px;
    left: 20px;
}
.mainSection .profileContainer .profileDashBoard2 {
    width: 100%;
    height: 15em;
    /* background: gray; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    /* justify-content: end; */
}
.mainSection .profileContainer .profileDashBoard2 .editProfile{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    padding-right: 15px;
}
.mainSection .profileContainer .profileDashBoard2 .editProfile p{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid gray;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.mainSection .profileContainer .profileDashBoard2 .editProfile p:hover{
    background: rgba(47, 47, 47, 0.733);
}
.mainSection .profileContainer .profileDashBoard2 .userDetails{
    width: 100%;
    height: 70%;
    /* background: green; */
    display: flex;
    flex-direction: column;

    gap: 8px;
    padding: 15px;
}
.mainSection .profileContainer .profileDashBoard2 .userDetails p{
    color: rgb(184, 178, 178);
}
.mainSection .profileContainer .profileDashBoard2 .userDetails div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mainSection .profileContainer .mainProfileSection {
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.mainSection .profileContainer .mainProfileSection .list{
    width: 100%;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(92, 92, 92, 0.763);
}
.mainSection .profileContainer .mainProfileSection .list p {
    font-weight: bold;
    width: 15%;
    padding: 10px;
    /* background: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.mainSection .profileContainer .mainProfileSection .list p:hover {
    background: rgba(23, 23, 23, 0.762);
    cursor: pointer;
} 
.mainSection .profileContainer .mainProfileSection .allUserPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}








.mainSection .searchAndExplore{
    width: 23%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    align-items: center;
    gap: 20px;
    /* background: rebeccapurple; */
}
.mainSection .searchAndExplore .search{
    width: 100%;
    height: 20%;
    display: flex;
    /* border: 2px solid wheat; */
    margin-top: 15px;
}
.mainSection .searchAndExplore .search input{
    width: 90%;
    font-size: 1.2em;
    height: 2.5em;
    border-radius: 30px;
    background: #000;
    color: white;
    padding-left: 10px;
    border: 1px solid gray;
}
.mainSection .searchAndExplore .trending{
    width: 100%;
    color: white;
    /* min-height: 80%; */
    /* border: 2px solid wheat; */
}
.mainSection .searchAndExplore .trending div{
    min-height: 30em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}